{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "champ45/tomstar",
    "Update": "true"
  },
  "Authentication": {
      "Bucket": "nuhome-bucket",
      "Key": "docker/.dockercfg"
  },
  "Ports": [
    {
      "ContainerPort": "80"
    }
  ],
  "Logging": "/var/log/"
}
